@import url('https://fonts.googleapis.com/css?family=Laila:400,700|Lato');

html,body{
  font-family:Laila;
}

.edit-twibbon {
	padding-left: 75px;
    padding-right: 75px;
	padding-top: 100px;
	padding-bottom: 150px;
	background: linear-gradient(to bottom, #984CFF, #00D5FA);
}

@media screen and (max-width: 726px) {
  .edit-twibbon {
	padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .judul {
	  padding-bottom 30px;
  }
}

.judul {
	padding-bottom: 80px;
}


.kotak-panduan {
	padding-top: 20px;
	min-height: 520px;
	padding: 10px;
	background-color: rgba(0, 0,0, 0.1);
	border-radius: 10px;
	border-color: #ffdde1;
	color: #FFF;
	margin-bottom: 20px;
}

.twibbon-video {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 10px;
}

/* Override Sweet Alert default style */
.sweet-alert {
  margin-top: 0 !important;
  transform: translateY(-50%);
}

.sweet-alert button {
  background-color: #000;
  font-weight: bold;
  padding: 12px;
}
.sweet-alert img {
  display: block;
  margin-bottom: 10px;
}

.sa-button-container {
  display: none;
}

/* Customize default file input button */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}


.inputfile + label {
  display: inline-block;
  padding: 9px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  background-color: #f7797d;
  transition: all 400ms ease;
}

.inputfile:focus + label,
.inputfile + label:hover {
 background-color: #ee9ca7;
 color: white;
}

.inputfile + label {
	cursor: pointer;
}

/* Croppie CSS */
.croppie-container {
  padding: 10px;
  touch-action: none;
}
.croppie-container .cr-slider-wrap {
  margin-top: 5px;
}
.cr-slider {
  visibility: hidden;
}
.cr-slider:before {
	content: "+";
    position: absolute;
    top: 305px;
	font-size:20px;
    right: 32px;
	color:#000;
    font-weight: 700;
}
.cr-slider:after {
	content: "-";
    position: absolute;
    top: 305px;
	color:#000;
	font-size:20px;
    left: 38px;
    font-weight: 700;
}
.cr-boundary {
  position: relative;
  background-color: #CCC;
}

.cr-boundary:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../images/twibbon19.png');
  background-size: 100%;
}

/* Main */
.title-twib {
	margin-top:3em;
	margin-bottom:4em;
}
.title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fac169;
  font-family: Laila;
  text-align:center;
}

.uploader {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
  background: #FFF;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.image-canvas {
  width: 400px;
  height: 400px;
  display: none;
}

img {
  max-width: 100%;
}


.profile-pic-wrap {
  position: relative;
}

.button {
  font-family: 'Philosopher', sans-serif;
  padding: 13px;
  font-weight: bold;
  color: white !important;
  border-radius: 5px;
  background-color: #12c2e9;
  cursor:pointer;
  transition: all 400ms ease;
}

.button:hover {
  background-color: #f39c12;
  color: #000;
}

/* Loaders */
.loader {
  margin: 100px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.3);
  border-right: 1.1em solid rgba(255, 255, 255, 0.3);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.3);
  border-left: 1.1em solid #FFF;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.loader.green {
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}